@model IEnumerable<assignment_4.Models.Post>

@{
    ViewData["Title"] = "Index";
    
   
}

<p>Date/Time: <span id="Timers"></span></p>

<script>
    var dt = new Date();
    document.getElementById("Timers").innerHTML = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()+1).slice(-2)) +":"+ (("0"+dt.getMinutes()+1).slice(-2));
</script>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td class="Title">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="Summary">
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td class="Content">
            @Html.DisplayFor(modelItem => item.Content)
        </td>
           
        <td class="Time">
            @Html.DisplayFor(modelItem => item.Time, "{0;dd.MM.yyyy}")
        </td >
        <td class="Nickname">
            @Html.DisplayFor(modelItem => item.Owner.Nickname)
        </td>
        <td>
            <a asp-controller="Blog" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</tbody>